<!DOCTYPE html>
<html>
  <head>
    <title>Bootcampblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="alert">
        <%= flash[:notice] %>
      </p>
    <% end %>
    <header>
      <p id="logo"><a href="/">RailsCamp<span>Blog</span></a></p>
      <nav>
        <ul>
          <li>
            <%= link_to 'トップ', '/' %>
          </li>
            <% if user_signed_in? %>
              <li>
                <%= link_to '新規投稿', '/articles/new' %>
              </li>
              <li>
                <%= link_to 'ログアウト', '/logout' %>
              </li>
            <% else %>
              <li>
                <%= link_to '新規登録', '/users/sign_up' %>
              </li>
              <li>
                <%= link_to 'ログイン', '/users/sign_in' %>
              </li>
            <% end %>

          <div class="clear"></div>
        </ul>
      </nav>
      <div class="clear"></div>
    </header>

    <%= yield %>

    <footer>
      <div id="footer_inner">
        <p>Copyright RailsCamp 2015 All Rights Reserved</p>
      </div>
    </footer>
  </body>
</html>



